// Zadanie 1

@mixin setTooltip ($text, $color) {
  content: $text;
  background-color: $color;
  display: block;
  width: 150px;
  height: 2em;
  padding: 2%;
  text-align: center;
}

ul.lista {
  &:hover {
    &:after {
      @include setTooltip('to jest tooltip', lightpink);
    }
  }
}

// Zadanie 2

$font-sizes: (
        fs1: 100px,
        fs2: 50px,
        fs3: 6px
);

$values: map_values($font-sizes);

@for $i from 1 through 3 {
  h#{$i} {
    font-size: nth($values, $i) }
};