
.layer-1{
    width: 800px;
    height: 800px;
    background-color: #FF1106;
    position: relative;
    }
.layer-2 {
    width: 600px;
    height: 600px;
    background-color: #FF5200;
    position: absolute;
    top:100px;
    left: 100px;
}
.layer-2::before {
    content: "";
    width: 100px;
    height: 100px;
    background-color: #FF5200;
    position: absolute;
    top:-50px;
    left: -50px;
}
.layer-2::after {
    content: "";
    width: 100px;
    height: 100px;
    background-color: #FF5200;
    position: absolute;
    bottom:-50px;
    right: -50px;
}
.layer-3 {
    width: 400px;
    height: 400px;
    background-color: #FF8B05;
    position: absolute;
    top:100px;
    left: 100px;
}
.layer-3::before {
    content: "";
    width: 100px;
    height: 100px;
    background-color: #FF8B05;
    position: absolute;
    top:-50px;
    right: -50px;
}
.layer-3::after {
    content: "";
    width: 100px;
    height: 100px;
    background-color: #FF8B05;
    position: absolute;
    bottom: -50px;
    left: -50px;
}
.layer-4 {
    width: 200px;
    height: 200px;
    background-color: #FFCC0D;
    position: absolute;
    top: 100px;
    left: 100px;
}
.layer-4::before {
    content: "";
    width: 100px;
    height: 100px;
    background-color: #FFCC0D;
    position: absolute;
    top:-50px;
    left: -50px;
}
.layer-4::after {
    content: "";
    width: 100px;
    height: 100px;
    background-color: #FFCC0D;
    position: absolute;
    bottom:-50px;
    right: -50px;
}
