#e {color: red}
#l {color: pink}
#nieb {color: blue}
#ziel {color: green}
#zol {color: yellow}
div {background:rgba(255,0,76,.25)}
#tekst {background: hsl(22, 32%, 21%)}
#ost {background: beige; width: 200px}
#jeden {background: blanchedalmond; width: 5em}
#dwa {background: darkkhaki; width: 2em}