@media (max-width: 767px) {
  .section-3 img {
    width: 100%;
  }

}

@media (min-width: 768px) and (max-width: 1024px) {
  //.section {
  //  display: flex;
  //  justify-content: flex-end;
  //  align-items: flex-start;
  //  img {
  //    width: 200px;
  //  }
  //}
  //
  .section-3{
    position: relative;
    img{
      width: 200px;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
@media (min-width: 1025px) {
  .section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 600px;
    }
  }
}