// Zadanie 5

.section-1 {
  .col-1 {
    height: 1000px;
  }
}


$color-list: map_values($rainbow);

@for $i from 1 through 7 {
  .col-1:nth-of-type(#{$i}) {
    background-color: nth($color-list, $i);
  }
}